
#container{
    flex-direction: column;
}
#mid{
    flex-direction: column;
    /* width: 91%; */
    /* display: inline-block; */
    margin: 0px auto;
}

header{
    /* background: var(--dark); */
    height: 600px;
    width: auto;
}

p{
    padding: 5px;
    width: 300px;
}

.header_d{
    
    margin: 32px -154px;
}
/* #photo{
    width: 200px;
    height: 300px;
    margin: 0px auto;

} */

.right-t{
    color: white;
    margin-top: 109px;
    margin: 20px;
    font-size: .6rem;
}

#photo{
    width: 150px;
    height: 250px;
    margin-left: 200px;
}